<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.legato.music">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.legato.music.AppObject">
        <activity android:name="com.legato.music.AvatarActivity"
            android:theme="@style/NoActionBarTheme"/>
        <activity android:name="com.legato.music.UserProfileActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/NoActionBarTheme"/>
        <activity
            android:name="com.legato.music.registration.solo.SoloRegistrationActivity"
            android:label="@string/title_activity_solo_registration_tab"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.legato.music.registration.band.BandRegistrationActivity"
            android:label="@string/title_activity_band_registration_tab"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name="com.legato.music.registration.RegistrationActivity"
            android:theme="@style/NoActionBarTheme"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="@string/google_api_key" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <activity
            android:name="co.chatsdk.ui.login.SplashScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.legato.music.youtube.YoutubeActivity"
            android:label="@string/title_activity_youtube"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.legato.music.messaging.ActiveChatActivity"
            android:label="@string/title_active_chats"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.legato.music.view.activity.NearbyUsersActivity"
            android:label="@string/title_nearby_users"
            android:theme="@style/NoActionBarTheme">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
    </application>

</manifest>