<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spoluri.legato">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountActivity"
            android:label="@string/title_activity_account"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".youtube.YoutubeActivity"
            android:label="@string/title_activity_youtube"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".messaging.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".messaging.ActiveChatActivity"
            android:label="@string/title_active_chats"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NearbyUsersActivity"
            android:label="@string/title_nearby_users"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".registration.solo.SkillsActivity"
            android:label="@string/title_activity_skills"
            android:theme="@style/AppTheme" />
        <activity android:name=".registration.GenresActivity"
            android:label="@string/title_activity_genres"
            android:theme="@style/AppTheme" />
    </application>

</manifest>